/* General Styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #f6f8fa;
    margin: 0;
    padding: 0;
    color: #24292f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Link Styles */
a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    width: 92%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(27,31,35,0.12), 0 1px 2px rgba(27,31,35,0.24);
}

/* Table Container */
.table-container {
    max-height: 400px; /* Set a maximum height for the table */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ddd; /* Optional: add border around table */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}

th, td {
    padding: 8px;
    border: 1px solid #e1e4e8;
}

td {
    cursor: pointer; /* Indicate clickable cells */
}

th {
    background-color: #f4f4f4;
    position: sticky; /* Make header sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure header is above table rows */
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #f6f8fa;
    border-top: 1px solid #e1e4e8;
}

/* Hamburger Menu Styles */
.menu-container {
    position: relative;
    margin-bottom: 20px;
}

.hamburger {
    width: 30px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease;
}

/* Hamburger Menu Animation */
.hamburger.open .line {
    background-color: red; /* Change color when open */
}

/* Dropdown Menu Styles */
.menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 2;
}

.menu.active {
    display: block;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu ul li a i {
    margin-right: 10px;
    font-size: 16px;
    color: #0366d6;
}

.menu ul li a:hover {
    background-color: #f0f0f0;
}

